# Server Configuration
NODE_PORT=3000
# MongoDB Connection String
MONGO_URL=mongodb+srv://<username>:<password>@cluster.mongodb.net/paymentWithDraw?retryWrites=true&w=majority
# JWT Secret (Use a strong secret in production)
JWT_SECRET=your_super_secure_secret_here